*{
  margin: 0;
  padding: 0;
}
.titulo{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: arial;
  font-weight: bold;
  justify-content: space-around;
}
nav{
  background: #24282b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  height: 70px;
}
ul {
  display: flex;
}

ul li{
  list-style: none;
  margin-left: 10px;
}

ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
}


.texblue{
  color :#1293d4;
  font-weight: bold;
}

.text{
  margin-right: 8px;
}

.raya{
  border: #1293d4 solid 2px;
}

main{
  background-image: url(/cabecera.jpg);
  height: 60vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-position: center;
  color: #fff;
}

main h1{
  font-family: arial;
  font-size: 60px;
  margin: 10px;
}

main p{
  padding: 2%;
  font-family: Arial;
  
}

form {
  background: #24282b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90px;
}

form p{
  color: white;
  font-family: Arial;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

form input{
  font-family: Arial;
  height: 20px;
  padding: 2% 0;
}

form button{
  background: #E8491D;
    border-style: none;
    padding: 4%;
    margin: 0 2%;
    color: #fff;
}

form div {
  display: flex;
    align-items: center;
}

.containertodo{
    display: flex;
    columns: 3;
    justify-content: space-evenly;
    margin: 0 0 5% 0;
}

.containertodo div{
  display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: Arial;
}

.containertodo img{
  width: 30%;
  height: auto;
  margin-top: 20px;
}

.css{
  font-family: arial;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

footer{
  background: #1293D4;
    padding: 3%;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}


@media screen and (max-width: 600px) {

   .containertodo{
             display: flex;
            flex-direction: column;
            align-items: center;
   }

   nav{
    flex-direction: column;
   }

   form{
    flex-direction: column;
   }

   .containertodo div{
    margin: 5% 0;
    width: 50%;
    text-align: justify;
   }

   ul li{
    list-style: none;
    padding: 1.5%;
    flex-wrap: wrap;
   }

   ul li :hover {
    border: #1293D4 solid 1px;
    font-weight: bold;
    border-radius: 2px;
    color: #1293D4;
}
  
}